<!--[if gte IE 9]>
  <style type="text/css">
    .gradient {
       filter: none;
    }
  </style>
<![endif]-->
<article class="hideable all-hidden" id="thank-you">
  <section>
    <h1>Thank You</h1>
    <p>Thank you for donating to AnnaLeah and Mary for Truck Safety. Your donation will save lives and prevent injuries.</p>
    <p>We want to continue to make a difference and prevent other families from going through what we have. Please share our story with your friends and family by using the social media buttons below to help spread the word.</p>
    <%= render 'sharing' %>
    <p>We would also love to connect with you on <a href="https://www.facebook.com/pages/In-Memory-of-AnnaLeah-1995-to-2013-and-Mary-Lydia-Karth-1999-to-2013/464993830249803" target="_blank">Facebook</a>, <a href="https://twitter.com/MaryandAnnaLeah" target="_blank">Twitter</a>, or <a href="https://www.youtube.com/channel/UCD-_wRmJmnZ3f5xBVXUe22A/feed" target="_blank">YouTube</a>. There you can find more information and share your thoughts, comments, or concerns with us.</p>
    <%= image_tag("content/karth_family_funeral.jpg", alt: "Photo of the Karth Family after the funeral, in front of Mary and AnnaLeah's grave.") %>
    <p>We really cannot thank you enough!</p>
    <%= image_tag("layout/the_karth_family_signiture.png", alt: "(signed) The Karth Family", class: "signiture") %>
  </section>
</article>
<script>
  hideThanks();
</script>

<article>
  <section>
    <%= image_tag("content/truck_rear_underride_guard_cropped.jpg", alt: "Photo of the rear of a truck from the side, showing the metal bars that form the underride guard at the back of the truck.") %>

    <p>Imagine the back of a semi-truck trailer.</p>

    <p>It's hard to imagine that a car could fit under there. There are bars, called underride guards, at the back of the truck to stop cars from riding under the truck.</p>
    <ul>
      <li>The underride guards don't always stop cars from going under the truck.</li>
      <li>Even at low speeds cars can end up under there!</li>
      <li><strong>Death</strong> of family members is a common result to such crashes.</li>
    </ul>
    <blockquote>
      <p><strong>“It is safer to run into a brick wall then the back of a truck.”</strong></p>
      <cite>Russ Rader, Insurance Institute for Highway Safety<br>May 5, 2014</cite>
    </blockquote>
  </section>
</article>
<article class="images">
  <section>
    <%= image_tag("content/car_under_truck_800.jpg", alt: "Photo of our blue Ford Crown Victoria car, with the rear of the car forced under the back of the truck trailer from the collision. Most of the car is nearly unrecognizable from the damage There is a sheet covering part of the car. There is blood on the sheet.") %>
   <p class="caption">Our car after the crash</p>
  </section>
</article>
<article>
  <section>
    <p>In 2013, our family found that out the hard way. I was traveling with my 3 youngest children when we were struck from behind by a semi-truck. It spun us around and hit us a second time pushing our car under the truck in front of us.</p>
  </section>
</article>
<article class="images slideshow">
  <section class="slideshow" id="slideshow_test">
    <div data-u="slides" class="slideshow">
      <div><%= image_tag("content/annaleah_and_mary_photo_1c.jpg", alt: "Photo of AnnaLeah and Mary on a seesaw made out of wagon wheels. Mary is wearing a bright pink jacket and AnnaLeah is wearing a purple sweater. They are smiling.") %></div>
      <div><%= image_tag("content/annaleah_and_mary_photo_2_s.jpg", alt: "Photo of AnnaLeah and Mary standing next to each other in front of a yellow wall and looking cool. They are both wearing sunglasses. Annaleah is wearing a sparkly pearl-colored swater. Mary is wearing a dark purple sweater.") %></div>
      <div><%= image_tag("content/annaleah_and_mary_photo_3.jpg", alt: "Photo of AnnaLeah and Mary in front of a giant fake apple. The sun is in their eyes. Mary is standing in front and smiling at the camera. AnnaLeah is wearing a brown coat and leaning against the giant green leaf on top of the apple.") %></div>
    </div>
  </section>
</article>
<article>
  <section>
    <p>AnnaLeah (17) and Mary (13) were in the backseat when the rear of the car was pushed under the truck. Both of them died. AnnaLeah wanted to be a writer and Mary wanted to be famous, neither of them got to see their dreams come true.</p>
  </section>
</article>
<article class="video">
  <iframe width="420" height="315" src="https://www.youtube.com/embed/dGXR02wkjvM" frameborder="0" allowfullscreen></iframe>
</article>
<article>
  <section>
    <h1>Lives CAN BE Saved!</h1>
    <p>Last year our family was successful in collecting and delivering more than 11,000 signatures in a petition to the Department of Transportation to make changes. Progress is being made toward stricter laws, but the industry needs better options.</p>
    <p><strong><em>Research must be done to offer the trucking industry affordable technologies that protect our families on the road.</em></strong></p>
    </section>
</article>
<article class="contains-video">
  <section>
    <p>Our family started <strong>AnnaLeah and Mary for Truck Safety</strong>, a 501(c)3 non-profit organization, to raise funds for truck safety research. We are starting with underride guards because if the underride guard on the truck in front of us had been strong enough to prevent our car from going under it, AnnaLeah and Mary would be here today.</p>
      <iframe width="420" height="315" src="https://www.youtube.com/embed/m69mxZJ6X9M" frameborder="0" allowfullscreen></iframe>
    <ul>
      <li>Dean Sicking has saved lives through the SAFER barrier he designed for NASCAR. He is interested in taking this technology and using it in underride guards.</li>
      <li>Other engineers have contacted us over the last year looking to work on underride guards.</li>
      <li>We are working with universities and their engineering programs to get more engineers thinking and working toward real life solutions to this problem.</li>
    </ul>
  </section>
</article>
<!--<article>
  <section>
    <p>"Comments"</p>
    <p>-- a person</p>
    <p>"Comments"</p>
    <p>-- a person</p>
  </section>
</article>-->
<article>
  <section>
    <h1>We Can't Do It Alone<br />We Need YOUR Help!</h1>
    <ul>
      <li>Donate today to save lives, prevent injuries, and make the roads safer for all families.</li>
      <li><strong>AnnaLeah &amp; Mary for Truck Safety</strong> is eligible to receive contributions that may be tax deductible for the donor.</li>
      <li>Your donation will help fund research that will save lives!</li>
    </ul>
    <%= image_tag("content/GWMemorial_99.jpg", alt: "Photo of the Karth Family, from before the crash.") %>
    <p class="no-bottom-margin"><strong>It's too late for AnnaLeah and Mary but, with help from people like you, we will save lives.</strong></p>
    <%= image_tag("layout/the_karth_family_signiture.png", alt: "(signed) The Karth Family", class: "signiture") %>
  </section>
</article>
<article>
  <section>
    <p>If you'd like to donate by check, rather than credit card, please make your payments out to:</p>
    <p>AnnaLeah and Mary For Truck Safety<br>
    2800 Ridgecrest Dr.<br>
    Rocky Mount, NC 27803</p>
  </section>
</article>
<article>
  <section>
    <h2>Please share and let your friends know!</h2>
    <%= render 'sharing' %>
  </section>
</article>
<article class="retractable start-hidden">
  <h1 class="noselect">How will the money be used?</h1>
  <section>

  </section>
</article>
<article class="retractable start-hidden">
  <h1 class="noselect">Hasn't there already been research done on underride guards?</h1>
  <section>
    <p>Although there has already been a lot of research done on underride prevention, there has not been readily available crash testing information to prove its viability or convince government regulators and the trucking industry to move forward with these measures to prevent unnecessary deaths and horrific injuries.</p>
<p>Furthermore, we want to show that this can be done in an affordable manner and that it is a priority to this nation to pay for the best possible protection for pedestrians, cyclists, and motorists on the road.</p>
<p>We hope that the money we raise can provide unquestionable proof that more can be done than currently is and that rear guards, side guards, and front protection on all trucks will become standard. When we found out after losing AnnaLeah and Mary that better protection was possible, our relentless question has been, “If it can be done, why is it not being done?”<p>
<p>For detailed information about underride guards, <a href="http://annaleahmary.com/underride-guards/">there are many articles on annaleahmary.com</a></p>
  </section>
</article>
<article class="retractable start-hidden">
  <h1 class="noselect">Will my donation be tax deductible?</h1>
  <section>
    <p>AnnaLeah &amp; Mary for Truck Safety is incorporated in North Carolina as a non-profit corporation, as of June 26, 2015. We have applied for tax-exempt status (Form 1023) with the IRS (September 4, 2015). This had to be done within 27 months of organizing.</p>
<p>Meanwhile, we have been told by the IRS that we can operate as a 501(c)(3) organization. We meet all of the requirements and have been told that we can communicate that we are eligible to receive contributions that may be tax deductible for the donor. That is the wording which we are told to use and will be the same wording which we would need to use when we actually get an approval letter from IRS. We cannot guarantee that your particular donation will be deductible because that depends on your tax return details.</p>
<p>However, if you donate to AnnaLeah &amp; Mary for Truck Safety, then we will email you a receipt which you can use when you do your taxes. We have organized AL&amp;MFTS to meet the requirements of a 501(c)(3) organization and plan to use all funds received accordingly.</p>
  </section>
</article>
<article class="retractable start-hidden">
  <h1 class="noselect">Other Question?</h1>
  <section>

  </section>
</article>
<article class="retractable start-hidden">
  <h1 class="noselect">Other Question?</h1>
  <section>

  </section>
</article>

