<article>
  <section>
    <%= image_tag("content/truck_rear_underride_guard_cropped.jpg", alt: "Photo of the rear of a truck from the side, showing the metal bars that form the underride guard at the back of the truck.") %>

    <p>Imagine the back of a semi-truck trailer.</p>

    <p>It's hard to imagine that a car could fit under there. There are bars, called underride guards, at the back of the truck to stop cars from riding under the truck.</p>
    <ul>
      <li>The underride guards don't always stop cars from going under the truck.</li>
      <li>Even at low speeds cars can end up under there!</li>
      <li><strong>Death</strong> of family members is a common result to such crashes.</li>
    </ul>
    <blockquote>
      <p><strong>“It is safer to run into a brick wall then the back of a truck.”</strong></p>
      <cite>Russ Rader, Insurance Institute for Highway Safety<br>May 5, 2014</cite>
    </blockquote>
  </section>
</article>
<article class="images">
  <section>
    <%= image_tag("content/car_under_truck_800.jpg", alt: "Photo of our blue Ford Crown Victoria car, with the rear of the car forced under the back of the truck trailer from the collision. Most of the car is nearly unrecognizable from the damage There is a sheet covering part of the car. There is blood on the sheet.") %>
   <p class="caption">Our car after the crash</p>
  </section>
</article>
<article>
  <section>
    <p>In 2013, our family found that out the hard way. I was traveling with my 3 youngest children when we were struck from behind by a semi-truck. It spun us around and hit us a second time pushing our car under the truck in front of us.</p>
  </section>
</article>
<article class="images slideshow">
  <section class="slideshow" id="slideshow_test">
    <div data-u="slides" class="slideshow">
      <div><%= image_tag("content/annaleah_and_mary_photo_1c.jpg", alt: "Photo of AnnaLeah and Mary on a seesaw made out of wagon wheels. Mary is wearing a bright pink jacket and AnnaLeah is wearing a purple sweater. They are smiling.") %></div>
      <div><%= image_tag("content/annaleah_and_mary_photo_2_s.jpg", alt: "Photo of AnnaLeah and Mary standing next to each other in front of a yellow wall and looking cool. They are both wearing sunglasses. Annaleah is wearing a sparkly pearl-colored swater. Mary is wearing a dark purple sweater.") %></div>
      <div><%= image_tag("/content/annaleah_and_mary_photo_3.jpg", alt: "Photo of AnnaLeah and Mary in front of a giant fake apple. The sun is in their eyes. Mary is standing in front and smiling at the camera. AnnaLeah is wearing a brown coat and leaning against the giant green leaf on top of the apple.") %></div>
    </div>
  </section>
</article>
<article>
  <section>
    <p>AnnaLeah (17) and Mary (13) were in the backseat when the rear of the car was pushed under the truck. Both of them died. AnnaLeah wanted to be a writer and Mary wanted to be famous, neither of them got to see their dreams come true.</p>
  </section>
</article>
<article class="video">
  <iframe width="420" height="315" src="https://www.youtube.com/embed/dGXR02wkjvM" frameborder="0" allowfullscreen></iframe>
</article>
<article>
  <section>
    <h1>Lives CAN BE Saved!</h1>
    <p>Last year our family was successful in collecting and delivering more than 11,000 signatures in a petition to the Department of Transportation to make changes. Progress is being made toward stricter laws, but the industry needs better options.</p>
    <p><strong><em>Research must be done to offer the trucking industry affordable technologies that protect our families on the road.</em></strong></p>
  </section>
</article>
<article>
  <section>
    <p>Our family started AnnaLeah and Mary for Truck Safety, a 501(c)3 non-profit organization, for raising funds for truck safety research. We are starting with underride guards because if the truck in front of us had a guard that prevented our car from going under it, AnnaLeah and Mary would be here today.</p>
        <%= image_tag("/content/SAFER_Barrier_crash_photo.jpg", alt: "Photo of a racecar crashing against a Steel and Foam Energy Reduction barrier at high speed. While the car is damaged, the driver is visibly unharmed.") %>
    <p class="caption">&copy; Dean Sicking, SAFER barrier, used with permission </p>
    <ul>
      <li>Dean Sicking has saved lives through the SAFER barrier he designed for NASCAR. He is interested in taking this technology and using it in underride guards.</li>
      <li>Other engineers have contacted us over the last year looking to work on underride guards.</li>
      <li>We are working with universities and their engineering programs to get more engineers thinking and working toward real life solutions to this problem.</li>
    </ul>
  </section>
</article>
<article>
  <section>
    <p>"Comments"</p>
    <p>-- a person</p>
    <p>"Comments"</p>
    <p>-- a person</p>
  </section>
</article>
<article>
  <section>
    <h1>We Can't Do It Alone<br />We Need YOUR Help!</h1>
    <ul>
      <li>Donate today to save lives, prevent injuries, and make the roads safer for all families.</li>
      <li><strong>AnnaLeah &amp; Mary for Truck Safety</strong> is eligible to receive contributions that may be tax deductible for the donor</li>
      <li>Your donation will help fund research that will save lives!</li>
    </ul>
    <%= image_tag("/content/GWMemorial_99.jpg", alt: "Photo of the Karth Family, from before the crash.") %>
    <p><strong>It's too late for AnnaLeah and Mary, but with help from people like you we will save lives.</strong></p>
    <p>~~The Karth Family</p>
  </section>
</article>
<article>
  <section>
    <p>If you'd like to donate by check, rather than credit card, please make your payments out to:</p>

  </section>
</article>
<article>
  <section>
    <h2>Please share and let your friends know!</h2>
    <%= render 'sharing' %>
  </section>
</article>
<article class="retractable start-hidden">
  <h1 class="noselect">A Common Question?</h1>
  <section>
    <p>An answer to your common question</p>
  </section>
</article>
<article class="retractable all-hidden" id="disclaimer">
  <section>
    <h1 class="noselect">Disclaimer</h1>
    <h2>http://www.fortrucksafety.com</h2>
    <h2>By AnnaLeah and Mary For Truck Safety</h2>
    <p>We are a 501(c)3 non-profit organization. We will not use money from this or any other fundraising campaign for personal gain. However, we reserve the right to use the funds as we see fit to meet our general purpose of increasing awareness and funding research for truck safety. Therefore funds may be used for, but not limited to, specific research projects, awareness campaigns, general overhead costs, mailings, travel and expenses, and for paying for services when donated services can not be obtained. If at any time the organization should hire personnel for any position, funds raised may also be used to pay that person a reasonable wage.</p>
    <p>Last Updated: September 1, 2015</p>
  </section>
</article>
<article class="retractable all-hidden" id="privacy-statement">
  <section>
    <h1 class="noselect">Privacy Policy</h1>
    <h2>http://www.fortrucksafety.com</h2>
    <h2>by AnnaLeah and Mary for Truck Safety</h2>
    <p>This privacy policy is for all information collected on fortrucksafety.com (“the site”, “our site”, or “site”) by AnnaLeah and Mary for Truck Safety (“us”, “we”, and “our”). This information pertains to anyone who comes onto our site (“users”) though most data collection occurs voluntarily by filling out portions of the website.</p>

    <h3>Information We Collect</h3>
    <p>We collect information about users' interactions with our site by using third party companies that place cookies on a users computer. The information collected is only about how the user interacts with our site and never about how they interact with any other site. It also doesn't collect personal information. The user can opt out of this type of data collection by setting up their browser to refuse cookies. This information is collected, stored, and protected by a 3rd party company.</p>
    <p>We collect information via forms on this site. That may include donation boxes, mailing list opt in boxes, and comments. This information includes personal information including but not limited to names and email addresses. Depending on where you share your information on our site, your information may or may not be shared with a 3rd party company. If it is shared with a third party company it is collected, stored, and protected.</p>
<p>Any and all credit card information collected on our site is stored with and protected by a 3rd party company. For your protection we never have access to this information. We have carefully chosen 3rd party companies that are trustworthy to work with. You should read their terms of use and privacy policies before submitting your information to them, but they will not sell, trade, or giveaway your information.  </p>
    <h3>Third Parties We Share Your Information With</h3>
    <p>Currently this site works with Google Analytics, Mail Chimp, and Braintree to collect, store, and protect your information.</p>
    <h3>How We Use Your Information</h3>
    <p>Information that is collected on the site is used to improve the site and better user experience, used for completing transactions, or used for contacting you depending on where and how you leave your information. Your credit cards will not be charged by AnnaLeah and Mary for Truck Safety without your knowledge and consent. We will not send unsolicited emails and you will always have the ability to opt out of any email contact. We will also never sell, trade, or give away your information and will do our best to protect your information from other parties.</p>
    <h3>Children Under 13</h3>
    <p>We will never attempt to collect information from children under 13. Our site is not designed for children and we ask that they do not use our site.</p>
    <h3>Changes to Our Privacy Policy</h3>
<p>We retain the right to update this privacy policy as we see fit and will do so periodically. Users will not be notified, but the date will be updated when it has been changed.</p>
    <p>Last Updated: September 1, 2015</p>
  </section>
</article>
<article class="retractable all-hidden" id="terms-of-use">
  <section>
    <h1 class="noselect">Terms of Use</h1>
    <h2>http://www.fortrucksafety.com</h2>
    <h2>by AnnaLeah and Mary for Truck Safety</h2>
    <p>These are the terms and conditions of use for <strong>fortrucksafety.com</strong> (from here on out referred to as “the site”,”site”, or “our site”) run by <strong>AnnaLeah and Mary for Truck Safety</strong> (from here on out referred to as “us”, “we”, and “our”. Please read these terms of use (from here on out referred to as “terms”) carefully. By using our site you are acknowledging that you will abide by the terms and conditions as well as all disclaimers found here in and will from here on out be referred to as “users”.</p>
    <p>If you do not agree with these terms of use, please discontinue use of our site.</p>
    <p>This site may contain information, stories, and images that are disturbing to some and not recommended for children 13 and younger. If you are sensitive or 13 or younger please do not continue to use our site. Users must be over the age of 13.</p>
    <h3>Information</h3>
    <p>We seek to provide accurate information. All information is honest and correct, to the best of our knowledge. It is presented “as is” and we make no guarantees about the accuracy of any information on our site. We are not responsible or liable for any damage or loss caused by any content found on our site.</p>
    <h3>Do No Harm</h3>
    <p>We seek to provide information in a way that does no harm to any other person. The language on this site  is not meant to offend or harm anyone, but graphic images and stories are included on our site. We apologize for anything that may offend someone. You may contact us at any time and we will respond as soon as possible. However, we can not be held responsible for any offenses that may occur. It should also be noted that our site is written in English and while it may be translated into other languages, we are not responsible for any misunderstanding that may result from translation issues. It is also the reader/user’s responsibility to make sure that the topic of discussion of our site is suitable in your locality. We are not responsible for users having access to information that may not be legal in their location.</p>
    <h3>Copyright</h3>
    <p>All articles, posts, pages, and images presented on our site belong to us or were used legally. They should not be copied in whole or in part. They should not be reproduced, altered, or posted elsewhere without express written permission from the owners of <strong>AnnaLeah and Mary for Truck Safety</strong>. This includes, but is not limited to, our logo, texts presented on our site, and photos. Sharing of our site via social media is allowed, but entire sections of it may not be copied for use anywhere. Videos are hosted on YouTube and must be shared via YouTube and in accordance with their terms of use.  </p>
    <h3>External Links</h3>
    <p>There are very few, if any, external links on our site. However we have no control over, and assume no responsibility for any content, privacy policies, or practices of any third party sites that we link to. We are not responsible or liable for any damage or loss caused by the use of any content, goods, or services of any third party sites linked to.</p>
    <p>We advise you to read terms of use, privacy policies, disclaimers, and any other legal information provided by third party sites.</p>
    <h3>User Submissions</h3>
    <p>We allow comments on our site. We can post, reproduce, and share comments made on the site. These comments may be used on social media sites, other sites, and/or in print for our own purposes. Any content submitted will be used as royalty free content. We also retain the right to delete any user submitted content as we deem fit.</p>
    <h3>Legality</h3>
    <p>These Terms are governed by the United States of America. We seek to meet all their requirements.</p>
    <p>Our failure to enforce any part of these terms will not be considered a waiver of the rest of the terms. If any part of our terms is deemed invalid or unenforceable in a court of law, the rest of the terms still apply.</p>
<h3>Contact Us</h3>
<p>You may contact us at any time at marianne@annaleahandmary.com. We will get back to you as soon as possible.  </p>

    <h3>Changes</h3>
    <p>We can update and make changes to this terms of service at any time. We will post all updates here along with an update date located at the bottom of this page. We will not be contacting users by any means to let them know when these terms are updated.</p>
    <p>Last Updated: September 1, 2015</p>

  </section>
</article>
