%h2 Please Help: Donate Here
%a(href="#" title="Donation Form")
= bootstrap_form_for(@giver, html: {id: "payment-form"}) do |f|
  = render "shared/messages"
  %fieldset<
    = f.text_field :first_name, label: "First Name", placeholder: "Personal Name"
    = f.text_field :last_name, label: "Last Name", placeholder: "LastName"
    = f.text_field :address, label: "Street Address", placeholder: "123 Example Street", size: 44
    = f.text_field :city, label: "City", placeholder: "City Name", size: 28
    = f.text_field :state, label: "State", size: 3, placeholder: "AA"
    = f.text_field :zip, label: "Zip/Postal", size: 7, placeholder: "00000"
    = f.email_field :email, label: "Email Address", placeholder: "Your receipt will be sent here", size: 50
    = f.number_field :amount, label: "Amount of donation ($ USD)", value: "25.00", step: 5.0
    = f.text_area :message, label: "Message (optional)", size: "38x2", placeholder: "If you'd like to include a message with your donation, you can write it here."
    = f.check_box :mailing_list, label: "Please add me to the mailing list"
    .form-group
      = label_tag 'Card number'
      #card-number
    .form-group<
      = label_tag 'Cvv number'
      #cvv-number
    .form-group
      = label_tag 'Expiration Date'
      #expiration-date
    = f.submit "Donate With Credit Card", class: "btn btn-default gradient"
    %div.paypal-group<
      %p><
        OR
        %br><
        you can use
      #paypal-button
