%h2 Please Help: Donate Here
%a(href="#" title="Donation Form")
  = bootstrap_form_for(@giver, html: {id: "payment-form"}) do |f|
    = render "shared/messages"
    %fieldset
      = f.text_field :first_name, label: "First Name"
      = f.text_field :last_name, label: "Last Name"
      = f.text_field :address, label: "Street Address"
      = f.text_field :city, label: "City"
      = f.text_field :state, label: "State"
      = f.text_field :zip, label: "Zip"
      = f.email_field :email, label: "Email Address"
      = f.text_field :message, label: "Message (optional)"
      = f.text_field :amount, label: "Amount of donation"
      .form-group
      = label_tag 'Card number'
      #card-number
      .form-group
      = label_tag 'Cvv number'
      #cvv
      .form-group
      = label_tag 'Expiration Date'
      #expiration-date
      = f.check_box :mailing_list, label: "Add me to the mailing list"
      = f.submit "Donate", class: "btn btn-default"
