!!! 5
%html(lang="en-US")
  %head
    %title Admin
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css", :integrity => "sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb", :rel => "stylesheet"}
    = csrf_meta_tag
    = stylesheet_link_tag "admin"
    = include_gon(init: true)
    = javascript_include_tag "application"
    = yield :head
  %body
    %header
    %section.content.clearfix
      = render 'shared/messages'
      = yield
    %footer
