!!! 5
%html(lang="en-US")
  %head
    %title Admin
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = csrf_meta_tag
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = yield :head
  %body
    %header
    %section.content.clearfix
      = render 'shared/messages'
      = yield
    %footer
