!!!
%html
  %head
    %title For Truck Safety
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = include_gon(init: true)
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %script{src: "https://js.braintreegateway.com/js/beta/braintree-hosted-fields-beta.18.js"}
    %meta{:property => "og:title", :content => "Help Prevent Truck Underride Deaths" }
    %meta{:property => "og:site_name", :content => "For Truck Safety" }
    %meta{:property => "og:url", :content => "https://www.fortrucksafety.com" }
    %meta{:property => "og:description", :content => "It is safer to run into a brick wall then the back of a truck. There are bars, called underride guards, at the back of the truck to stop cars from riding under the truck. But underride guards don't always stop cars from going under the truck. In 2013, our family found that out the hard way." }
    %meta{:property => "og:image", :content => image_url("content/car_under_truck_800.jpg")}
    %meta{:property => "og:image", :content => "http://annaleahmary.com/files/car_under_truck_800.jpg"}
    %meta{:property => "og:image", :content => "http://annaleahmary.com/files/underride_research_saves_lives.jpg"}
    = csrf_meta_tags
    %meta{:content => "width=device-width", :name => "viewport"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Signika:400,600", :rel => "stylesheet", :type => "text/css"}/
  %body
    %div.overlay.invisible
    %header.logo
      =image_tag "layout/annaleah_and_mary_for_truck_safety_logo_web_midl.png", :alt => "AnnaLeah and Mary for Truck Safety Logo"
    %main.main{:role => "main"}
      :javascript
        scrollHandler();
      = render "headline"
      %article.donations
        %section.donate-form
          = yield
          -# %a{:href => "https://www.expeditedssl.com/simple-ssl-scanner/scan?target_domain=www.fortrucksafety.com", :target => "_blank"}
            %img{:alt => "Expedited SSL Scanner", :src => "https://www.expeditedssl.com/ssl-secure-badge.png"}
        %section.donate-chart
          %h2 Donated So Far
          %p.donation-amount VALUE
          %p
            from
            %span.donation-donors 000
            people
      = render "content"
      = render "additional"
      = render "disclaimers"
    %footer
      %p
        %a#reveal-disclaimer{ href: "#disclaimer", title: "Show Disclaimer" }
          Disclaimer
        |
        %a#reveal-privacy{ href: "#privacy-statement", title: "Show Privacy Policy" }
          Privacy Policy
        |
        %a#reveal-terms-of-use{ href: "#terms-of-use", title: "Show Terms of Use" }
          Terms of Use
      %p
        %a{ href: "http://annaleahmary.com", title: "AnnaLeahMary.com" , target: "_blank"  }
          AnnaLeahMary.com
        |
        %a#reveal-contact-info{ href: "#contact-us", title: "Show Contact Information" }
          Contact Us
    :javascript
      displayDonations();
    %div.return#returntotop
      %p.no-select ⬆
    = javascript_include_tag 'rrssb.min.js'
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-49075308-2', 'auto');
      ga('send', 'pageview');
